  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid">
      <h4 class="">Cabañas portal del ubajay</h4>
      <div class="justify-content-end">
        <a class="btn" href="/reservas/all" role="button">Reservas</a>
        <a class="btn" href="/registro" role="button">Registrarse</a>
        <a class="btn" href="/login" role="button">Login</a>
      </div>
    </form>
  </nav>